In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df = pd.read_csv(r"C:\Users\andre\OneDrive\Escritorio\USFQ\Fundamentos en Ciencia de Datos\Proyeccion_Consumo_Diesel\dataset\processed_Consumo_Diesel.csv")
df.head()

,FECHA,DISPENSADOR,HORA,VEHICULO,FLOTA,GALONES,KILOMETRAJE,ANIO,DIA_SEMANA,MES,DIA,GALONES_POR_KM,VEHICULO_ENC,FLOTA_ENC,PC1,PC2
0,2020-01-01,1,10:35:00,S024,B12M,535680.0,411475.8,2020,2,1,1,1.301851,96,2,-0.007959,0.071349
1,2020-01-01,1,12:12:00,S029,B12M,541970.0,479353.4,2020,2,1,1,1.130627,101,2,-0.012753,0.287115
2,2020-01-01,1,12:20:00,S011,B12M,565560.0,463696.8,2020,2,1,1,1.219676,83,2,-0.011493,0.237352
3,2020-01-01,1,13:10:00,S074,B12M,656140.0,451279.5,2020,2,1,1,1.453955,145,2,-0.010038,0.197900
4,2020-01-01,1,13:30:00,S015,B12M,428790.0,418781.5,2020,2,1,1,1.023899,87,2,-0.009163,0.094549

In [3]:
X = df.drop(columns=['GALONES'])
y = df['GALONES']

In [4]:
X = pd.get_dummies(X, drop_first=True)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [7]:
modelos = {
    'Regresion Lineal': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42)
}

In [8]:
resultados = {}
for nombre, modelo in modelos.items():
    modelo.fit(X_train_scaled, y_train)
    y_pred = modelo.predict(X_test_scaled)
    resultados[nombre] = {
        'RMSE': np.sqrt(mean_squared_error(y_test, y_pred)),
        'MAE': mean_absolute_error(y_test, y_pred),
        'R2': r2_score(y_test, y_pred)
    }

In [9]:
resultados_df = pd.DataFrame(resultados).T
print("Resultados de prueba:")
print(resultados_df)

Resultados de prueba:
                           RMSE            MAE        R2
Regresion Lineal   1.800644e+05    1570.237159  0.999988
Decision Tree      1.759680e+07   93287.701677  0.884547
Random Forest      2.594157e+06   15750.818060  0.997491
Gradient Boosting  1.438646e+07  132966.421286  0.922830