# Establecemos las librerías a utilizarse

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Cargamos la base de Datos para su análisis

Nota: No permitía establecer la conexión en snowflake, por lo que se procedió a cargar el CSV directamente desde el cordenador.

In [2]:
raw_diesel = pd.read_csv(r"C:\Users\andre\OneDrive\Escritorio\USFQ\Fundamentos en Ciencia de Datos\Proyeccion_Consumo_Diesel\dataset\Consumo_Diesel.csv", sep=";")
raw_diesel.head()

      FECHA  DISPENSADOR      HORA VEHICULO FLOTA  GALONES  KILOMETRAJE
0  1/1/2020            1  10:35:00     S024  B12M  53,5680  411475,8000
1  1/1/2020            1  12:12:00     S029  B12M  54,1970  479353,4000
2  1/1/2020            1  12:20:00     S011  B12M  56,5560  463696,8000
3  1/1/2020            1  13:10:00     S074  B12M  65,6140  451279,5000
4  1/1/2020            1  13:30:00     S015  B12M  42,8790  418781,5000

In [3]:
raw_diesel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228209 entries, 0 to 228208
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   FECHA        228209 non-null  object
 1   DISPENSADOR  228209 non-null  int64
 2   HORA         228209 non-null  object
 3   VEHICULO     228207 non-null  object
 4   FLOTA        193574 non-null  object
 5   GALONES      228209 non-null  object
 6   KILOMETRAJE  227988 non-null  object
dtypes: int64(1), object(6)
memory usage: 12.2+ MB

Se puede observar que existe un total de 228209 datos ingresados, y que en las columnas pertenecientes a "VEHICULO", "FLOTA", "GALONES" y "KILOMERAJE" presentan valores nulos, también se puede observar que en la "FECHA", "HORA", "GALONES" y "KILOMETRAJE" no tienen los formatos adecuados, ya que estas se almacenan como texto y no como tiempo/fecha y valores flotantes.

# Valores Duplicados

In [4]:
raw_duplicados = raw_diesel.duplicated().sum()
print('Se encontraron valores duplicados: ', raw_duplicados)

Se encontraron valores duplicados:  1

In [5]:
print('El dato duplicado es el siguiente: ')
raw_diesel[raw_diesel.duplicated()]

El dato duplicado es el siguiente:

          FECHA  DISPENSADOR      HORA VEHICULO     FLOTA GALONES KILOMETRAJE
23196  3/8/2020            4  10:15:00     T008  TROLEBUS  2,8310  63703,0000

In [6]:
raw_diesel.query("FECHA == '3/8/2020' & HORA == '10:15:00' & VEHICULO == 'T008' & GALONES == '2,8310'")

          FECHA  DISPENSADOR      HORA VEHICULO     FLOTA GALONES KILOMETRAJE
23195  3/8/2020            4  10:15:00     T008  TROLEBUS  2,8310  63703,0000
23196  3/8/2020            4  10:15:00     T008  TROLEBUS  2,8310  63703,0000

# Valores Faltantes

In [7]:
raw_diesel.isna().sum()

FECHA              0
DISPENSADOR        0
HORA               0
VEHICULO           2
FLOTA          34635
GALONES            0
KILOMETRAJE      221
dtype: int64

In [8]:
ausentes_vh = raw_diesel[raw_diesel.isna()['VEHICULO']]
ausentes_vh

             FECHA  DISPENSADOR      HORA VEHICULO FLOTA GALONES KILOMETRAJE
147742    1/8/2022            6   0:00:00      NaN   NaN  0,0000      0,0000
172389  11/12/2022            4  18:29:00      NaN   NaN  0,0010      0,0000

Como se puede observa en la columna "VEHICULO" se encuentran datos vacíos, y tomando en cuenta la fila de "GALONES" y "KILOMETRAJE" pueden ser errores en los registros, los cuales al ser eliminados no afectan al estudio ya que los valores que registran tanto en galonaje como kilometraje son mínimos.

In [9]:
ausentes_flt = raw_diesel[raw_diesel.isna()['FLOTA']]
ausentes_flt['VEHICULO'].unique()

array(['M036', 'M026', 'D015', 'D003', 'D025', 'T111', 'M020', 'D009',
       'D030', 'D042', 'D002', 'T095', 'T033', 'M019', 'S056', 'B036',
       'B038', 'T051', 'A114', 'B045', 'T028', 'T042', 'T005', 'T043',
       'T003', 'D029', 'D006', 'T038', 'T029', 'D038', 'M040', 'T032',
       'D020', 't029', 't111', 'T81', 'D004', 'D016', 'T045', 'D024',
       'T048', 'D021', 'T019', 'T053', 'D034', 'T075', 'D033', 'T031',
       'D010', 'A117', 'T088', 'T015', 'T037', 'COMPRESOR', 'T034',
       'B048', 'D039', 'D040', 'T030', 'T102', 'D011', 'PMA8561',
       'PMA7709', 'PMA7706', 'PMF780', 'PMA7390', 'PMA8560', 'PMA7727',
       'PMA7715', 'PMA8565', 'PMA3026', 'PMA7585', 'PMA3244', 'PMA3325',
       'PMA8566', 'PMA7158', 'PMA7728', 'PMA7393', 'PMA8567', 'PMA8557',
       'PMA8568', 'PMA7707', 'PMA7713', 'PMA8559', 'PMA8562', 'PMA7729',
       'PMA7718', 'PMA7712', 'PMA7708', 'PMA7719', 'PMA8570', 'PMA8564',
       'PMA7561', 'PMA3083', 'PMA7189', 'PMA7714', 'PMA7721', 'PMA3065',
       'PMA4518', 'PMA4545', 'PMA7582', 'PMA3323', 'PMA7720', 'PMA3053',
       'PMA7671 ', 'PMA7672', 'PMA3322', 'PMA4544', 'PMA7716', 'PMA3249',
       'PMA3066', 'PMF806', 'PMA4519', 'PMA7723', 'PMA7725', 'PMA7683',
       'PMA1050', 'PMA8556', 'PMA7722', 'PMA7564', 'PMA7726', 'PMA7565',
       'PMA3050', 'PMA7710', 'PMA7097', 'PMA7111', 'PMA7570', 'PMA8558',
       'PMA7400', 'PMA7101', 'PMA7730', 'PMA7110', 'PMA7690', 'PMA8563',
       'PMA3246', 'PMA7680', 'PMA7679', 'PMA7753', 'PMA8569', 'PMA7685',
       'PMA3239', 'PMA3039', 'PMA7711', 'PMA7724', 'PMA4516', 'PMA7163',
       'PMA7717', 'PMA7563', 'PMD501', 'PMA7154', 'PMA7436', 'PMA7433',
       'PMA7162', 'PMA3237', 'PMA7567', 'PMA7388', 'PMA3023', 'PMA4517',
       'PMA7394', 'P-30162', 'PMA7164', 'PMA7684', 'PMA3090', 'PMA7703',
       'PMA3267', 'PMA706', 'PMA7106', 'PMA1052', 'PXU3026', 'PMA7598',
       'PMF0722', 'PMA7159', 'PMA7681', 'P-4517002064', 'PMA7435',
       'PMA8013', 'PMF777', 'PMA7559', 'PMA7156', 'PMA7586', 'PMA7692',
       'PMA3089', 'PMA7569', 'PMA7687', 'P-G00789561', 'PMA7571',
       'PMA7671', 'PMA7098', 'PMA7557', 'PMA7160', 'PMA7700', 'PMA7230',
       'P-600789561', 'PMA7733', 'PMA7115', 'PMA7157', 'PMA7682',
       'PMA7155', 'PMA3054', 'pma7717', 'PMA7114', 'PMA7562', 'PMA7113',
       'PMA7392', 'PMA3234', 'PMA7688', 't095', 'T092', 'P-4517002065',
       'PMA0078', 'PMA7399', 'PMA7032', 'T026', 'PME782', 'PMA3233',
       'PMA7568', 'P-GTA8046', 'P-GTA8047', 'PMD8563', 'PMA7676',
       'P-T00789563', 'PMF0782', 'D036', 'PMA7138', 'PMA7258', 'PMA7689',
       'PMA872', 'PMA3707', 'P-GSS6295', 'PMA3242', 'D019', 'PMA5887',
       'PMA5267', 'P-30179', 'P-30170', 'P-30163', 'CR002', 'P-30198',
       'P-30164', 'PMA7698', 'PMA8047', 'p-gss6295', 'T072', 'PMA854',
       'PMA769', 'PMF870', 'PMA7992', 'pma7692', 'P-3444', 'P-3442',
       'P-3440', 'P-3443', 'PMA7161', 'P-3447', 'P-3441', 'P-3446',
       'P-3445', 'PMA0501', 'pma3054', 'PMA7696', 'PMA7171', 'PMD0501',
       'pma3323', 'PMA8463', 'P-1631', 'P-1259', 'P-ABC0999', 'PMA7588',
       'PMA7566', 'PMF722', 'PMA7109', 'T035', nan, 'PMA7589', 'PMA7107',
       'PME0782', 'pma4545', 'PMA7100', 'PMA7104', 'PMA3093', 'PMA4546',
       'T112', 'PMA7581', 'PMA7102', 'PMA7699', 'T023', 'T080', 'P-34-43',
       'P-34-42', 'PMA3055', 'P-34-41', 'P-34-40', 'PMA7878', 'P-30152',
       'PMA7105', 'P-30171', 'PMA7389', 'PMA7112', 'PMA7391', 'PMA7917',
       'PMA7924', 'PMA7928', 'PMA7925', 'PMA7008', 'PMA7923', 'PMA7880',
       'PMA8571', 'PMA7093', 'PMA7912', 'PMA7921', 'PMA7882', 'P-GTA9807',
       'PMA7926', 'PMA7929', 'PMA7913', 'PMA7911', 'PMA7879', 'PMA7931',
       'P-1634', 'PMA7904', 'PMA7930', 'PMA7951', 'PMA7108', 'PMA3020',
       'PMA7910', 'PMF0872', 'PMA7927', 'PMA7933', 'PMD8560', 'PMA7876',
       'PMA7693', 'PMA7123', 'PMA5868', 'PMA9569', 'PMA7183', 'PMA7877',
       'PMA7875', 'PMA7881', 'PMA4847', 'PMA7804', 'PMA7343', 'PMA6585',
       'PMF0777', 'CALIBRACION', 'PMA7527', 'PMA7252', 'PMA8578',
       'PME0182', 'PMA7754', 'PMA0224', 'PMA8596', 'PMA7802', 'PMA2233',
       'PMA7227', 'PMA0813', 'PMA7833', 'PMA3092', 'PMA5053', 'PMA9807',
       'PMA2432', 'PMA6881', 'PMA813', 'PMA7027', 'PMA7184', 'PMA7408',
       'P-GSS6259', 'PMA1390', 'PMA3446', 'PMA3223', 'PMA7665', 'PMA7320',
       'PMA5007', 'P-3448', 'P-3449', 'PMA1388', 'PMA7279', 'PMA2527',
       'P-5007', 'P-GTA846', 'P-30191', 'PMA8285', 'PMA3787', 'PMA7600',
       'PMA8576', 'PMA7099', 'PMF0778', 'PMA8028', 'PMA7737', 'PMA7395',
       'PMA4524', 'PMF0806', 'PME0818', 'PMA7872', 'PMA8024', 'PMA7200',
       'PMA7380', 'PMA7953', 'P-3046', 'P-30120', 'PMA7339', 'P-5008',
       'PMA8023', 'PMA7778', 'T069', 'P-G556995'], dtype=object)

Se puede obervar que existen varios valores que no describen un tipo de flota, en su mayoría son errores al momento de registrar las placas de los vehículos, como la "t029" que en el registro real si existe una "T029", también se puede observar que existen el registro de unidades que empiezan con una nomenclatura "PMA" o "P", esto se presenta debido a que no son unidades pertenecientes a la flota Trolebus. También se puede observar que existen unidades que han sido dadas de baja en tiempo recientes, por lo que no se encuentran registrados en un flota en específico.

In [10]:
ausentes_km = raw_diesel[raw_diesel.isna()['KILOMETRAJE']]
ausentes_km['VEHICULO'].unique()

array(['LAVTALLER', 'T073', 'D006', 'M038', 'COMPRESOR', 'A114', 'B032',
       'M014', 'T106', 'T017', 'T004', 'PMA3053', 'PMA3026', 'PMA7672',
       'PMA3322', 'PMA3249', 'PMA3066', 'PMF780', 'PMA3325', 'PMA8561',
       'PMA706', 'P-600789561', 'PMA7388', 'PMA3050', 'PMA7394',
       'PMA3039', 'PMA7717', 'PMA3267', 'D035', 'PMA7721', 'D037',
       'P-G00789561', 'PMA3237', 'PMA7230', 'PMA8558', 'lavtaller',
       'PMA7684', 'PMF0782', 'M011', 'B052', 'PMA7164', 'PMA3093',
       'PMF0872', 'PMA7561', 'PME0782', 'PMA8567', 'PMA7113', 'PMA7689',
       'PMA7878', 'PMA3239', 'PMA7108', 'PMA7699', 'PMD0501', 'P-30162',
       'PMA7032', 'PMA7713', 'PMA8564', 'PMA7109', 'S008', 'PMA7393',
       'V017', 'V060', 'T027'], dtype=object)

Los datos de "COMPRESOR" y "LAVTALLER" son implementos de trabajo en los que se utiliza diesel y no tienen recorrido en kilómetros, las unidades que empiezan con "P" o "PMA" son unidades de trabajo no pertenecientes a la empresa por lo que no se registra el kilometraje, las unidades "T", "D", "M", "B" y "A", se completarán los datos con la media tel recorrido de la unidades y el último registro.